[MysqlDatabaseInfo]
db_host = 47.108.57.15
db_port = 3306
db_user = root
db_password = 1AjLAEvQvuR4TwaP
db_name = quantification

[MysqlDatabaseInfo-news]
db_host = 116.62.237.212
db_port = 3306
db_user = root
db_password = dqEPQztL7QS9XlNV
db_name = zccm_ticket